aiofiles
aiohttp
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
lyricsgenius
motor
ntgcalls==1.1.2
pillow 
psutil
py-tgcalls==0.9.7
pykeyboard
pymongo
python-dotenv
PyYAML
requests
speedtest-cli
spotipy
tgcrypto
numpy
yt_dlp
youtube-search
git+https://github.com/alexmercerind/youtube-search-python
git+https://github.com/PlutoOwner/Muzikl
git+https://github.com/MonsterBos/sello-
git+https://github.com/Amahocaam/Hizk
